.div1 {
    width: 800px;
    height: 270px;
}

.div2 {
    width: 800px;
    height: 50px;
}

#ListPersonen {
    float: right;
}


.Fright {
    float: right;
}

.Fleft {
    float: left;
}

H3 {
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0;
}

.Main {
    float: left;
}

.RBL label {
    display: block;
}

.RBL td {
    text-align: center;
    width: 20px;
}