.div1 {
    width: 800px;
    height: 270px;
}

.div2 {
    width: 800px;
    height: 50px;
}

#ListPersonen {
    float: right;
}


.Fright {
    float: right;
}

.Fleft {
    float: left;
}

H3 {
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0;
}

.Main {
    float: left;
}

.TopBar {
    background-color: green;
    font-size: 15px;
    font-weight: bold;
    right: 0;
    position: absolute;
    height: 100%;
    width: 75px;
    text-align: center;
    vertical-align: middle;
}